Repository hashicorp/pandora, pull requests merged in 2022-11, with the labels that each got.

#1776 tools/importer-rest-api-specs / Data API: initial support for Dictionaries in the Schema
  data/Pandora.Api/V1/ResourceManager/Terraform-Models.cs
  data/Pandora.Api/V1/ResourceManager/Terraform.cs
  data/Pandora.Data/Models/TerraformSchemaObjectDefinition.cs
  data/Pandora.Data/Transformers/TerraformSchemaObjectDefinition.cs
  data/Pandora.Data/Transformers/TerraformSchemaObjectDefinitionTests.cs
  tools/generator-terraform/generator/helpers/object_definition.go
  tools/generator-terraform/generator/pluginsdkattributes/plugin_sdk_attributes.go
  tools/importer-rest-api-specs/components/dataapigenerator/templater_terraform_resource_schema.go
  tools/importer-rest-api-specs/components/parser/cleanup/cleanup.go
  tools/importer-rest-api-specs/components/schema/object_definition.go
  tools/sdk/resourcemanager/terraform.go
Labels: tool/importer-rest-api-specs, tool/data-api, area/schema-generation

#1833 tools/importer-rest-api-specs: handling discriminators that inherit from other discriminators
  tools/importer-rest-api-specs/components/parser/models.go
  tools/importer-rest-api-specs/components/parser/models_discriminators_test.go
  tools/importer-rest-api-specs/components/parser/testdata/model_discriminators_inherited_from_discriminators.json
Labels: tool/importer-rest-api-specs, area/discriminators

#1760 tools/importer-rest-api-specs: surfacing the `Content-Type` as required
  data/Pandora.Definitions/Operations/GetOperation.cs
  tools/importer-rest-api-specs/components/dataapigenerator/templater_operation.go
  tools/importer-rest-api-specs/components/parser/operations.go
  tools/importer-rest-api-specs/components/parser/operations_test.go
  tools/importer-rest-api-specs/components/parser/testdata/operation_content_types.json
Labels: bug, tool/importer-rest-api-specs

#1877 Swagger Data Workaround for `recoveryservicessiterecovery`
  tools/importer-rest-api-specs/components/parser/dataworkarounds/README.md
  tools/importer-rest-api-specs/components/parser/dataworkarounds/interface.go
  tools/importer-rest-api-specs/components/parser/dataworkarounds/workaround_containerservice_21394.go
  tools/importer-rest-api-specs/components/parser/dataworkarounds/workaround_loadtest_20961.go
  tools/importer-rest-api-specs/components/parser/dataworkarounds/workaround_media_21581.go
  tools/importer-rest-api-specs/components/parser/dataworkarounds/workaround_recoveryservicessiterecovery_21667.go
  tools/importer-rest-api-specs/components/parser/dataworkarounds/workarounds.go
  tools/importer-rest-api-specs/components/parser/load_and_parse.go
  tools/importer-rest-api-specs/components/parser/swagger_data_workarounds.go
Labels: tool/importer-rest-api-specs, area/swagger-workarounds

#1857 Support sending nil for optional objects
  tools/generator-go-sdk/generator/templater_models.go
  tools/generator-go-sdk/generator/templater_models_test.go
Labels: tool/generator-go-sdk
