Repository hashicorp/pandora, pull requests merged in 2023-04, with the labels that each got.

#1740 add `connectedvmware@2022-01-10-preview`
  config/resource-manager.hcl
Labels: data/swagger-issue

#2324 cleanup: removing Pandamonium
  data/Pandora.Api/Startup.cs
  data/Pandora.Data/Pandora.Data.csproj
  data/Pandora.Data/ServiceDefinitions.cs
  data/Pandora.Data/ServiceDefinitionsTests.cs
  data/Pandora.Definitions.TestData/Pandamonium/Service.cs
  data/Pandora.Definitions.TestData/Pandamonium/v2020_01_01/Definition.cs
  data/Pandora.Definitions.TestData/Pandamonium/v2020_01_01/Grouping/Animals.cs
  data/Pandora.Definitions.TestData/Pandamonium/v2020_01_01/Grouping/Definition.cs
  data/Pandora.Definitions.TestData/Pandamonium/v2020_01_01/Grouping/DeleteImmediate.cs
  data/Pandora.Definitions.TestData/Pandamonium/v2020_01_01/Grouping/DeleteLongRunning.cs
  data/Pandora.Definitions.TestData/Pandamonium/v2020_01_01/Grouping/ExampleResourceId.cs
  data/Pandora.Definitions.TestData/Pandamonium/v2020_01_01/Grouping/GetImmediate.cs
  data/Pandora.Definitions.TestData/Pandamonium/v2020_01_01/Grouping/GetListOfModelImmediate.cs
  data/Pandora.Definitions.TestData/Pandamonium/v2020_01_01/Grouping/GetStringImmediate.cs
  data/Pandora.Definitions.TestData/Pandamonium/v2020_01_01/Grouping/HeadImmediate.cs
  data/Pandora.Definitions.TestData/Pandamonium/v2020_01_01/Grouping/NestedItem.cs
  data/Pandora.Definitions.TestData/Pandamonium/v2020_01_01/Grouping/Paged.cs
  data/Pandora.Definitions.TestData/Pandamonium/v2020_01_01/Grouping/PagedListOfStringsImmediate.cs
  data/Pandora.Definitions.TestData/Pandamonium/v2020_01_01/Grouping/PatchImmediate.cs
  data/Pandora.Definitions.TestData/Pandamonium/v2020_01_01/Grouping/PostImmediate.cs
  data/Pandora.Definitions.TestData/Pandamonium/v2020_01_01/Grouping/PostLongRunning.cs
  data/Pandora.Definitions.TestData/Pandamonium/v2020_01_01/Grouping/PutImmediate.cs
  data/Pandora.Definitions.TestData/Pandamonium/v2020_01_01/Grouping/PutLongRunning.cs
  data/Pandora.Definitions.TestData/Pandamonium/v2020_01_01/Grouping/PutStringImmediate.cs
  data/Pandora.Definitions.TestData/Pandamonium/v2020_01_01/Grouping/Restart.cs
  data/Pandora.Definitions.TestData/Pandora.Definitions.TestData.csproj
  data/Pandora.Definitions.TestData/TestDataServices.cs
  data/Pandora.sln
Labels: tool/data-api, refactor

#2280 tools/generator-go-sdk: normalizing the value of String constants during unmarshalling
  tools/generator-go-sdk/featureflags/flags.go
  tools/generator-go-sdk/generator/templater_constant.go
  tools/generator-go-sdk/generator/templater_constant_test.go
  tools/generator-go-sdk/generator/templater_constants.go
  tools/generator-go-sdk/generator/templater_constants_test.go
Labels: tool/generator-go-sdk, area/swagger-workarounds

#2325 data: defining the Constants and Models used by the HandDefined API Definition (AADB2C)
  data/Pandora.Definitions.HandDefined/AADB2C/v2021_04_01_preview/Tenants/Definition.cs
Labels: tool/data-api, refactor
