Repository hashicorp/pandora, pull requests merged in 2023-10, with the labels that each got.

#3105 Graph Importer: delete the service definition directory before importing
  tools/importer-msgraph-metadata/pipeline/task.go
  tools/importer-msgraph-metadata/pipeline/task_remove_directory.go
Labels: tool/msgraph-importer

#3112 Graph Importer: really delete the service definition directory before importing
  .github/workflows/automation-msgraph-metadata-importer.yaml
  tools/importer-msgraph-metadata/GNUmakefile
Labels: tool/msgraph-importer

#3189 `tools/importer-rest-api-specs`: refactoring the importer logic
  tools/importer-rest-api-specs/components/dataapigenerator/revision_id.go
  tools/importer-rest-api-specs/components/dataapigenerator/service.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/api_types.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/definition_service.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/definition_version.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/generate_api_versions.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/generate_service.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/generate_terraform.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/interface.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/revision_id.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/service.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/templater_api_version_definition.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/templater_constants.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/templater_service_definition.go
  tools/importer-rest-api-specs/featureflags/constants.go
  tools/importer-rest-api-specs/pipeline/run_importer.go
  tools/importer-rest-api-specs/pipeline/task_generate_api_definitions.go
  tools/importer-rest-api-specs/pipeline/task_generate_data_api_definitions_v1.go
  tools/importer-rest-api-specs/pipeline/task_generate_data_api_definitions_v2.go
  tools/importer-rest-api-specs/pipeline/task_generate_service_definitions.go
  tools/importer-rest-api-specs/pipeline/task_output_metadata.go
Labels: tool/importer-rest-api-specs, refactor

#3212 `tools/data-api`: updating the list of home page routes to be dynamic
  tools/data-api/internal/endpoints/home_page.go
  tools/data-api/internal/endpoints/routing.go
Labels: tool/data-api

#3223 `tools/importer-rest-api-specs`: refactoring the V2 API Definitions for Models/Fields/Object Definitions
  api-definitions/README.md
  tools/importer-rest-api-specs/components/dataapigeneratorjson/generate_api_versions.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/generate_package.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/helpers.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/interface.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/models/models.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/models/object_definition.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/templater_models.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/templater_operations.go
  tools/importer-rest-api-specs/main.go
  tools/importer-rest-api-specs/pipeline/run_importer.go
  tools/importer-rest-api-specs/pipeline/task_generate_data_api_definitions_v2.go
Labels: tool/importer-rest-api-specs

#3224 tools/importer-rest-api-specs: updating the v2 models to use camelCase
  tools/importer-rest-api-specs/components/dataapigeneratorjson/models/constants.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/models/metadata.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/revision_id.go
Labels: tool/importer-rest-api-specs

#3227 tools/importer-rest-api-specs: refactoring the Service / API Version Definition
  tools/importer-rest-api-specs/components/dataapigenerator/definition_version.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/definition_service.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/definition_version.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/generate_service.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/models/api_version_definition.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/models/metadata.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/models/service_definition.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/templater_api_version_definition.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/templater_service_definition.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/templater_terraform_resource_mappings.go
  tools/importer-rest-api-specs/components/parser/dataworkarounds/workaround_batch_21291.go
  tools/importer-rest-api-specs/components/parser/dataworkarounds/workaround_devcenter_26189.go
  tools/importer-rest-api-specs/components/parser/resourceids/generate_names_test.go
  tools/importer-rest-api-specs/components/parser/resourceids/parser.go
  tools/importer-rest-api-specs/components/schema/builder.go
  tools/importer-rest-api-specs/components/schema/processors/field_name_max_to_maximum.go
  tools/importer-rest-api-specs/components/schema/processors/field_name_plural_to_singular_test.go
  tools/importer-rest-api-specs/components/transformer/models_to_api.go
  tools/importer-rest-api-specs/models/models.go
  tools/importer-rest-api-specs/pipeline/task_generate_data_api_definitions_v1.go
  tools/importer-rest-api-specs/pipeline/task_generate_data_api_definitions_v2.go
  tools/importer-rest-api-specs/pipeline/task_generate_terraform_example_usage.go
Labels: tool/importer-rest-api-specs
