Repository hashicorp/pandora, pull requests merged in 2023-11, with the labels that each got.

#3238 Refactoring the dataapigeneratorjson Terraform Models into the `models` package
  tools/importer-rest-api-specs/components/dataapigeneratorjson/api_types.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/generate_api_versions.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/generate_package.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/generate_terraform.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/generate_terraform_resource.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/helpers.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/interface.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/models/terraform_mappings.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/models/terraform_resource_definition.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/models/terraform_resource_tests.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/models/terraform_schema_documentation.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/models/terraform_schema_field.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/models/terraform_schema_field_validation.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/models/terraform_schema_model.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/models/terraform_schema_object_definition.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/models_terraform.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/service.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/templater_terraform_mappings.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/templater_terraform_resource_definition.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/templater_terraform_resource_mappings.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/templater_terraform_resource_schema.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/templater_terraform_resource_tests.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/templater_terraform_schema.go
  tools/importer-rest-api-specs/pipeline/task_generate_data_api_definitions_v2.go
Labels: tool/importer-rest-api-specs

#3280 tools/importer-rest-api-specs: sorting the `expectedStatusCodes` property to remove eventual consistency issues
  tools/importer-rest-api-specs/components/dataapigeneratorjson/templater_operations.go
Labels: bug, tool/importer-rest-api-specs

#3290 Data API V2: add validation in for loaded and parsed data definitions and fix missing ConstantReference for Constant Resource ID segments
  tools/data-api/internal/repositories/helpers.go
  tools/data-api/internal/repositories/services.go
  tools/data-api/internal/repositories/validation.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/templater_resource_id.go
Labels: tool/data-api

#3308 dataapiv2: Add documentation to terraform portion of api
  tools/data-api/internal/repositories/services.go
Labels: tool/data-api

#3317 dataapigeneratorjson/templater_terraform_mappings - Add additional ModelToModelMappings
  tools/importer-rest-api-specs/components/dataapigeneratorjson/templater_terraform_mappings.go
Labels: tool/data-api

#3334 `tools/importer-rest-api-specs`: normalizing `runAsAccount` to remove an eventual consistency issue
  tools/importer-rest-api-specs/components/parser/cleanup/cleanup.go
Labels: area/data-canonicalisation

#3340 `tools/extract-tf-resource-ids`: support for large changesets
  tools/extract-tf-resource-ids/go.mod
  tools/extract-tf-resource-ids/go.sum
  tools/extract-tf-resource-ids/main.go
Labels: bug, area/resource-ids

#3335 `tools/importer-rest-api-specs`: removing the unused workaround for `RecoveryServicesSiteRecovery` #21667
  tools/importer-rest-api-specs/components/parser/dataworkarounds/workaround_recoveryservicessiterecovery_21667.go
Labels: tool/importer-rest-api-specs, area/swagger-workarounds

#3336 `tools/importer-rest-api-specs`: adding a workaround for Azure/azure-rest-api-specs PR 26680
  tools/importer-rest-api-specs/components/parser/dataworkarounds/workaround_recoveryservicessiterecovery_26680.go
  tools/importer-rest-api-specs/components/parser/dataworkarounds/workarounds.go
Labels: tool/importer-rest-api-specs, area/swagger-workarounds

#3361 `tools/importer-rest-api-specs`: updating the segment `virtualendpoints` to be `virtualEndpoints`
  tools/importer-rest-api-specs/components/parser/cleanup/cleanup.go
Labels: tool/importer-rest-api-specs, area/data-canonicalisation

#3399 data api: add missing mappings
  tools/data-api/internal/endpoints/v1/mappings.go
Labels: tool/data-api

#3404 tools/importer-rest-api-specs: adding a workaround for HDInsight 26838
  tools/importer-rest-api-specs/components/parser/dataworkarounds/workaround_hdinsight_26838.go
  tools/importer-rest-api-specs/components/parser/dataworkarounds/workarounds.go
Labels: area/data-canonicalisation

#3392 Data API V2: extending `NewServicesRepository` to build a complete list of services
  tools/data-api/internal/endpoints/routing.go
  tools/data-api/internal/repositories/discovery.go
  tools/data-api/internal/repositories/mappings.go
  tools/data-api/internal/repositories/models.go
  tools/data-api/internal/repositories/services.go
  tools/data-api/models/service_detail.go
Labels: waiting-response
