Repository hashicorp/pandora, pull requests merged in 2023-08, with the labels that each got.

#2866 Importer: Custom filed user assigned identity (map) tolerate exposed principal id at top level
  tools/importer-rest-api-specs/components/parser/commonschema/custom_field_identity_user_assigned_map.go
  tools/importer-rest-api-specs/components/parser/models_identity_test.go
  tools/importer-rest-api-specs/components/parser/testdata/model_user_assigned_map_with_principal_id.json
Labels: tool/msgraph-importer, area/data-canonicalisation

#2883 tools/importer-rest-api-specs: adding a workaround for `digitaltwins`
  tools/importer-rest-api-specs/components/parser/dataworkarounds/workaround_digitaltwins_25120.go
  tools/importer-rest-api-specs/components/parser/dataworkarounds/workarounds.go
Labels: tool/importer-rest-api-specs, data/swagger-issue, area/swagger-workarounds, upstream/waiting-on-swagger-review

#2891 tooling: fixing an issue where the branch name was duplicated
  .github/workflows/automation-msgraph-metadata-importer.yaml
  .github/workflows/automation-rest-api-specs-importer.yaml
Labels: bug, tool/importer-rest-api-specs, tool/msgraph-importer

#2894 tools/importer-rest-api-specs: adding a workaround for machine learning registry
  tools/importer-rest-api-specs/components/parser/dataworkarounds/workaround_machinelearning_25142.go
  tools/importer-rest-api-specs/components/parser/dataworkarounds/workarounds.go
Labels: tool/importer-rest-api-specs, area/swagger-workarounds, upstream/waiting-on-swagger-review

#2869 tools/generator-go-sdk: exporting the Raw generated types
  tools/generator-go-sdk/generator/templater_models.go
  tools/generator-go-sdk/generator/templater_models_discriminators_test.go
Labels: enhancement, tool/generator-go-sdk, area/discriminators

#2907 Graph Importer: various fixes and pausing the workflow
  .github/workflows/automation-msgraph-metadata-importer.yaml
  NOTICE.txt
  tools/importer-msgraph-metadata/pipeline/normalize.go
  tools/importer-msgraph-metadata/pipeline/parser_models.go
  tools/importer-msgraph-metadata/pipeline/parser_resourceids.go
  tools/importer-msgraph-metadata/pipeline/task.go
  tools/importer-msgraph-metadata/pipeline/task_parse_resources.go
  tools/importer-msgraph-metadata/pipeline/task_template_constants.go
  tools/importer-msgraph-metadata/pipeline/task_template_operations.go
Labels: bug

#2898 tools/importer-rest-api-specs: adding Common ID for Storage Account and Storage Container
  tools/importer-rest-api-specs/components/parser/resourceids/common_id_storage_account.go
  tools/importer-rest-api-specs/components/parser/resourceids/common_id_storage_container.go
  tools/importer-rest-api-specs/components/parser/resourceids/common_ids.go
Labels: area/resource-ids, tool/importer-rest-api-specs
