Repository hashicorp/pandora, pull requests merged in 2023-07, with the labels that each got.

#2737 data-api: support for common types (models and constants)
  data/Pandora.Api/Startup.cs
  data/Pandora.Api/V1/Controllers/CommonTypes.cs
  data/Pandora.Api/V1/Controllers/ServiceDetails.cs
  data/Pandora.Api/V1/Controllers/ServiceVersion.cs
  data/Pandora.Data/CommonTypeDefinitions.cs
  data/Pandora.Data/DefinitionTypes.cs
  data/Pandora.Data/Models/ApiDefinitionsSource.cs
  data/Pandora.Data/Models/CommonTypesDefinition.cs
  data/Pandora.Data/Repositories/CommonTypesRepository.cs
  data/Pandora.Data/Repositories/ICommonTypesRepository.cs
  data/Pandora.Data/ServiceDefinitions.cs
  data/Pandora.Data/ServiceDefinitionsTests.cs
  data/Pandora.Data/Transformers/CommonTypes.cs
  data/Pandora.Data/Transformers/Version.cs
  data/Pandora.Definitions.MicrosoftGraph.StableV1/MicrosoftGraphStableV1Services.cs
  data/Pandora.Definitions/Discovery/CommonTypes.cs
  data/Pandora.Definitions/Interfaces/CommonTypesDefinition.cs
  data/Pandora.Definitions/Interfaces/Source.cs
Labels: enhancement

#2763 `tools/importer-rest-api-specs`: detecting generic ARM Resource scopes
  tools/importer-rest-api-specs/components/parser/resource_ids_test.go
  tools/importer-rest-api-specs/components/parser/resourceids/parse_segments.go
  tools/importer-rest-api-specs/components/parser/testdata/resource_ids_containing_hidden_scope.json
  tools/importer-rest-api-specs/components/parser/testdata/resource_ids_containing_hidden_scope_constant.json
  tools/importer-rest-api-specs/components/parser/testdata/resource_ids_containing_hidden_scope_hardcoded_provider.json
  tools/importer-rest-api-specs/components/parser/testdata/resource_ids_containing_hidden_scope_nested.json
  tools/importer-rest-api-specs/components/parser/testdata/resource_ids_containing_hidden_scope_nested_constants.json
  tools/importer-rest-api-specs/components/parser/testdata/resource_ids_containing_hidden_scope_nested_hardcoded_provider.json
  tools/importer-rest-api-specs/components/parser/testdata/resource_ids_containing_hidden_scope_nested_with_suffix.json
  tools/importer-rest-api-specs/components/parser/testdata/resource_ids_containing_hidden_scope_with_suffix.json
Labels: area/resource-ids, tool/importer-rest-api-specs, area/data-canonicalisation

#2851 tools/importer-rest-api-specs: fixing the segments for machine learning workspace
  tools/importer-rest-api-specs/components/parser/cleanup/cleanup.go
Labels: tool/importer-rest-api-specs, area/data-canonicalisation
