Repository hashicorp/pandora, pull requests merged in 2023-09, with the labels that each got.

#2970 `Automanage` @ `2022-05-04` - add new resource provider into go-azure-sdk
  config/resource-manager.hcl
Labels: data/swagger-issue

#3011 `tools/importer-rest-api-specs`: simplifying the Operation names if possible
  tools/importer-rest-api-specs/components/parser/models_test.go
  tools/importer-rest-api-specs/components/parser/parser.go
  tools/importer-rest-api-specs/components/parser/testdata/operations_multiple_with_stuttering.json
Labels: tool/importer-rest-api-specs, area/data-canonicalisation

#3033 `tools/importer-rest-api-specs`: pulling out models which inherit from models which inherit from discriminated parent types
  tools/importer-rest-api-specs/components/parser/models.go
  tools/importer-rest-api-specs/components/parser/models_discriminators_test.go
  tools/importer-rest-api-specs/components/parser/swagger_resources.go
  tools/importer-rest-api-specs/components/parser/testdata/model_discriminators_multiple_parents.json
  tools/importer-rest-api-specs/components/parser/testdata/model_discriminators_multiple_parents_within_array.json
Labels: tool/importer-rest-api-specs, area/data-canonicalisation

#2911 tools/generator-go-sdk: fixing the Raw{DiscriminatedType}Impl comment
  tools/generator-go-sdk/generator/templater_models.go
Labels: tool/generator-go-sdk

#2917 Graph Importer configuration and improvements
  .github/workflows/automation-msgraph-metadata-importer.yaml
  .github/workflows/unit-test-end-to-end-microsoft-graph.yaml
  config/microsoft-graph.hcl
  tools/importer-msgraph-metadata/GNUmakefile
  tools/importer-msgraph-metadata/cmd/import.go
  tools/importer-msgraph-metadata/cmd/list_tags.go
  tools/importer-msgraph-metadata/go.mod
  tools/importer-msgraph-metadata/go.sum
  tools/importer-msgraph-metadata/main.go
  tools/importer-msgraph-metadata/pipeline/interface.go
  tools/importer-msgraph-metadata/pipeline/normalize.go
  tools/importer-msgraph-metadata/pipeline/parser_models.go
  tools/importer-msgraph-metadata/pipeline/parser_resourceids.go
  tools/importer-msgraph-metadata/pipeline/parser_tags.go
  tools/importer-msgraph-metadata/pipeline/run_importer.go
  tools/importer-msgraph-metadata/pipeline/supported_services.go
  tools/importer-msgraph-metadata/pipeline/task.go
  tools/importer-msgraph-metadata/pipeline/task_parse_resources.go
  tools/importer-msgraph-metadata/pipeline/task_template_definitions.go
  tools/importer-msgraph-metadata/pipeline/task_template_models.go
  tools/importer-msgraph-metadata/pipeline/task_template_operations.go
  tools/importer-msgraph-metadata/pipeline/task_template_resourceids.go
Labels: enhancement, tool/msgraph-importer

#3060 Graph Importer: upgrade the GHA runner for the data regeneration workflow
  .github/workflows/automation-msgraph-metadata-importer.yaml
  .github/workflows/automation-rest-api-specs-importer.yaml
  .github/workflows/unit-test-data-api.yaml
  .github/workflows/unit-test-end-to-end-microsoft-graph.yaml
  .github/workflows/unit-test-end-to-end-resource-manager.yaml
Labels: tooling

#3041 `tools/importer`: skip build model if input schema is only for property
  tools/importer-rest-api-specs/components/parser/models.go
  tools/importer-rest-api-specs/components/parser/models_test.go
  tools/importer-rest-api-specs/components/parser/operations.go
  tools/importer-rest-api-specs/components/parser/testdata/models_bug_2675_duplicate_model.json
Labels: tool/importer-rest-api-specs, data/swagger-issue
