Repository hashicorp/pandora, pull requests merged in 2023-06, with the labels that each got.

#2540 tools/generator-terraform: outputting `identity` as blocks in the attributes/arguments - and updating the `block reference`
  tools/generator-terraform/generator/resource/docs/component_arguments.go
  tools/generator-terraform/generator/resource/docs/component_arguments_test.go
  tools/generator-terraform/generator/resource/docs/component_attributes.go
  tools/generator-terraform/generator/resource/docs/component_attributes_test.go
  tools/generator-terraform/generator/resource/docs/component_blocks.go
  tools/generator-terraform/generator/resource/docs/component_blocks_test.go
  tools/generator-terraform/generator/resource/docs/helpers.go
Labels: enhancement, tool/generator-terraform, area/documentation, tools/documentation

#2583 `tools/importer-rest-api-specs`: refactoring Terraform Acceptance Test generation
  tools/generator-terraform/generator/resource/component_resource_test_generate.go
  tools/generator-terraform/generator/resource/helpers.go
  tools/generator-terraform/generator/resource/helpers_test.go
  tools/importer-rest-api-specs/components/testattributes/test_attributes.go
  tools/importer-rest-api-specs/components/testattributes/test_attributes_commonschema_test.go
  tools/importer-rest-api-specs/components/testattributes/test_attributes_test.go
  tools/importer-rest-api-specs/components/testing/README.md
  tools/importer-rest-api-specs/components/testing/attribute_value_for_field.go
  tools/importer-rest-api-specs/components/testing/attribute_value_for_field_commonschema_test.go
  tools/importer-rest-api-specs/components/testing/attribute_value_for_field_possible_values_test.go
  tools/importer-rest-api-specs/components/testing/attribute_value_for_field_test.go
  tools/importer-rest-api-specs/components/testing/basic.go
  tools/importer-rest-api-specs/components/testing/basic_test.go
  tools/importer-rest-api-specs/components/testing/block_value_for_field.go
  tools/importer-rest-api-specs/components/testing/block_value_for_field_commonschema_test.go
  tools/importer-rest-api-specs/components/testing/block_value_for_field_test.go
  tools/importer-rest-api-specs/components/testing/block_value_for_model.go
  tools/importer-rest-api-specs/components/testing/block_value_for_model_test.go
  tools/importer-rest-api-specs/components/testing/complete.go
  tools/importer-rest-api-specs/components/testing/complete_test.go
  tools/importer-rest-api-specs/components/testing/dependencies.go
  tools/importer-rest-api-specs/components/testing/dependencies_template.go
  tools/importer-rest-api-specs/components/testing/dependencies_template_test.go
  tools/importer-rest-api-specs/components/testing/generate.go
  tools/importer-rest-api-specs/components/testing/helpers.go
  tools/importer-rest-api-specs/components/testing/helpers_test.go
  tools/importer-rest-api-specs/components/testing/provider_block.go
  tools/importer-rest-api-specs/components/testing/provider_block_test.go
  tools/importer-rest-api-specs/components/testing/requires_import.go
  tools/importer-rest-api-specs/components/testing/requires_import_test.go
  tools/importer-rest-api-specs/components/testing/variables.go
  tools/importer-rest-api-specs/components/testing/variables_template.go
  tools/importer-rest-api-specs/components/testing/variables_template_test.go
  tools/importer-rest-api-specs/pipeline/task_generate_terraform_resources.go
  tools/importer-rest-api-specs/pipeline/task_generate_terraform_tests.go
Labels: tool/importer-rest-api-specs, area/acceptance-tests

#2590 tools/generator-terraform: direct assignments now support transformations of `SystemAndUserAssignedIdentity` (Schema) -> `LegacySystemAndUserAssignedIdentity` (SDK)
  tools/generator-terraform/generator/mappings/assignment_direct.go
  tools/generator-terraform/generator/mappings/assignment_direct_createorupdate_test.go
  tools/generator-terraform/generator/mappings/assignment_direct_read_test.go
  tools/generator-terraform/generator/mappings/assignment_direct_transform.go
  tools/generator-terraform/generator/mappings/assignment_direct_transform_identity_system.go
  tools/generator-terraform/generator/mappings/assignment_direct_transform_identity_system_and_user_map.go
  tools/generator-terraform/generator/mappings/assignment_direct_transform_identity_system_and_user_map_legacy.go
  tools/generator-terraform/generator/mappings/assignment_direct_transform_identity_system_and_user_map_legacy_test.go
  tools/generator-terraform/generator/mappings/assignment_direct_transform_identity_system_and_user_map_test.go
  tools/generator-terraform/generator/mappings/assignment_direct_transform_identity_system_or_user_map.go
  tools/generator-terraform/generator/mappings/assignment_direct_transform_identity_system_or_user_map_test.go
  tools/generator-terraform/generator/mappings/assignment_direct_transform_identity_system_test.go
  tools/generator-terraform/generator/mappings/assignment_direct_transform_identity_user_list.go
  tools/generator-terraform/generator/mappings/assignment_direct_transform_identity_user_list_test.go
  tools/generator-terraform/generator/mappings/assignment_direct_transform_location.go
  tools/generator-terraform/generator/mappings/assignment_direct_transform_location_test.go
  tools/generator-terraform/generator/mappings/assignment_direct_transform_tags.go
  tools/generator-terraform/generator/mappings/assignment_direct_transform_tags_test.go
  tools/generator-terraform/generator/mappings/assignment_direct_transform_zones.go
  tools/generator-terraform/generator/mappings/assignment_direct_transform_zones_test.go
  tools/importer-rest-api-specs/components/schema/builder.go
  tools/importer-rest-api-specs/components/schema/fields_nested.go
  tools/importer-rest-api-specs/components/schema/helpers.go
  tools/importer-rest-api-specs/components/schema/processors/field_name_rename_mislabelled_resource_id.go
  tools/importer-rest-api-specs/components/schema/processors/field_name_rename_mislabelled_resource_id_test.go
  tools/importer-rest-api-specs/components/schema/processors/fields.go
  tools/importer-rest-api-specs/components/schema/temp_loadtest_workaround.go
  tools/importer-rest-api-specs/components/testing/attribute_value_for_field.go
  tools/importer-rest-api-specs/components/testing/attribute_value_for_field_test.go
  tools/importer-rest-api-specs/components/testing/requires_import.go
  tools/importer-rest-api-specs/components/transformer/models_to_api.go
Labels: tool/generator-terraform

#2496 importer-rest-api-specs: add common id for subnet and virtual network
  tools/importer-rest-api-specs/components/parser/resourceids/common_id_subnet.go
  tools/importer-rest-api-specs/components/parser/resourceids/common_id_virtual_network.go
Labels: area/data-canonicalisation
