Repository hashicorp/pandora, pull requests merged in 2024-03, with the labels that each got.

#3913 `tools/importer-rest-api-specs`: refactoring / removing usages of _some_ of the old Terraform models
  tools/data-api-sdk/v1/helpers/inner_most_terraform_schema_object_definition.go
  tools/data-api-sdk/v1/models/sdk_object_definition_type.go
  tools/data-api-sdk/v1/models/terraform_schema_object_definition_type.go
  tools/generator-terraform/go.mod
  tools/generator-terraform/internal/generator/helpers/object_definition.go
  tools/generator-terraform/internal/generator/helpers/object_definition_test.go
  tools/generator-terraform/internal/generator/resource/component_arguments_test.go
  tools/generator-terraform/internal/generator/resource/component_create_func_test.go
  tools/generator-terraform/internal/generator/resource/component_read_func_test.go
  tools/generator-terraform/internal/generator/resource/component_typed_model_test.go
  tools/generator-terraform/internal/generator/resource/component_update_func_test.go
  tools/importer-rest-api-specs/components/parser/commonschema/custom_field_system_data.go
  tools/importer-rest-api-specs/components/parser/commonschema/custom_field_zone.go
  tools/importer-rest-api-specs/components/parser/commonschema/custom_field_zones.go
  tools/importer-rest-api-specs/components/parser/helpers_test.go
  tools/importer-rest-api-specs/components/terraform/populate.go
  tools/importer-rest-api-specs/components/terraform/resources/identification.go
  tools/importer-rest-api-specs/components/terraform/resources/identification_test.go
  tools/importer-rest-api-specs/components/terraform/schema/build_chaos_experiment_test.go
  tools/importer-rest-api-specs/components/terraform/schema/build_resource_group_test.go
  tools/importer-rest-api-specs/components/terraform/schema/build_search_service_test.go
  tools/importer-rest-api-specs/components/terraform/schema/build_servicebus_namespace_test.go
  tools/importer-rest-api-specs/components/terraform/schema/builder.go
  tools/importer-rest-api-specs/components/terraform/schema/fields_nested.go
  tools/importer-rest-api-specs/components/terraform/schema/fields_resource_id.go
  tools/importer-rest-api-specs/components/terraform/schema/fields_resource_id_test.go
  tools/importer-rest-api-specs/components/terraform/schema/fields_top_level.go
  tools/importer-rest-api-specs/components/terraform/schema/fields_top_level_test.go
  tools/importer-rest-api-specs/components/terraform/schema/object_definition.go
  tools/importer-rest-api-specs/components/terraform/schema/processors/model_flatten_list_reference_ids.go
  tools/importer-rest-api-specs/components/terraform/schema/processors/model_flatten_list_reference_ids_test.go
  tools/importer-rest-api-specs/components/terraform/schema/processors/model_flatten_properties_into_parent.go
  tools/importer-rest-api-specs/components/terraform/schema/processors/model_flatten_properties_into_parent_test.go
  tools/importer-rest-api-specs/components/terraform/schema/processors/model_flatten_reference_id.go
  tools/importer-rest-api-specs/components/terraform/schema/processors/model_flatten_reference_id_test.go
  tools/importer-rest-api-specs/components/terraform/schema/processors/model_flatten_sku_name.go
  tools/importer-rest-api-specs/components/terraform/schema/processors/model_flatten_sku_name_test.go
  tools/importer-rest-api-specs/components/terraform/schema/processors/model_remove_status_detail.go
  tools/importer-rest-api-specs/components/terraform/schema/processors/model_remove_status_detail_test.go
  tools/importer-rest-api-specs/components/terraform/schema/processors/model_rename_zones.go
  tools/importer-rest-api-specs/components/terraform/schema/processors/model_rename_zones_test.go
  tools/importer-rest-api-specs/components/terraform/schema/processors/models_test.go
  tools/importer-rest-api-specs/components/terraform/schema/test_helpers.go
  tools/importer-rest-api-specs/components/terraform/testing/attribute_value_for_field.go
  tools/importer-rest-api-specs/components/terraform/testing/attribute_value_for_field_commonschema_test.go
  tools/importer-rest-api-specs/components/terraform/testing/attribute_value_for_field_possible_values_test.go
  tools/importer-rest-api-specs/components/terraform/testing/attribute_value_for_field_test.go
  tools/importer-rest-api-specs/components/terraform/testing/basic_test.go
  tools/importer-rest-api-specs/components/terraform/testing/block_value_for_field.go
  tools/importer-rest-api-specs/components/terraform/testing/block_value_for_field_commonschema_test.go
  tools/importer-rest-api-specs/components/terraform/testing/block_value_for_field_test.go
  tools/importer-rest-api-specs/components/terraform/testing/block_value_for_model_test.go
  tools/importer-rest-api-specs/components/terraform/testing/complete.go
  tools/importer-rest-api-specs/components/terraform/testing/complete_test.go
  tools/importer-rest-api-specs/components/terraform/testing/helpers.go
  tools/importer-rest-api-specs/components/terraform/testing/requires_import.go
  tools/importer-rest-api-specs/components/terraform/testing/requires_import_test.go
  tools/importer-rest-api-specs/components/transformer/internal_to_dataapisdk.go
  tools/sdk/resourcemanager/terraform.go
Labels: bug, tool/importer-rest-api-specs, tool/generator-terraform

#3919 `tools/importer-rest-api-specs`: refactoring the Repository/Terraform logic
  tools/importer-rest-api-specs/components/dataapigeneratorjson/generator.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/helpers/filesystem.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/remove_service.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/repository.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/save_service.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/stage_api_version.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/stage_constants.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/stage_metadata.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/stage_models.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/stage_operations.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/stage_resource_ids.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/stage_service_definition.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/stage_terraform_mappings_definition.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/stage_terraform_resource_definition.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/stage_terraform_resource_tests.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/stage_terraform_schema_models.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/stages.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/stages/api_version.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/stages/constants.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/stages/metadata.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/stages/models.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/stages/operations.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/stages/resource_ids.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/stages/service_definition.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/stages/stages.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/stages/terraform_mappings_definition.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/stages/terraform_resource_definition.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/stages/terraform_resource_tests.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/stages/terraform_schema_models.go
  tools/importer-rest-api-specs/components/terraform/models/overrides.go
  tools/importer-rest-api-specs/components/terraform/populate.go
  tools/importer-rest-api-specs/components/terraform/schema/build_resource_group_test.go
  tools/importer-rest-api-specs/components/terraform/schema/builder.go
  tools/importer-rest-api-specs/components/terraform/schema/fields_nested.go
  tools/importer-rest-api-specs/components/terraform/schema/fields_resource_id.go
  tools/importer-rest-api-specs/components/terraform/schema/fields_resource_id_test.go
  tools/importer-rest-api-specs/components/terraform/schema/helpers.go
  tools/importer-rest-api-specs/components/terraform/schema/helpers_test.go
  tools/importer-rest-api-specs/models/models.go
  tools/importer-rest-api-specs/pipeline/run_importer.go
Labels: tool/importer-rest-api-specs, refactor

#3972 `importer-rest-api-specs` - construct a unique constant name for `type`
  tools/importer-rest-api-specs/components/parser/constants/interface.go
  tools/importer-rest-api-specs/components/parser/constants_test.go
  tools/importer-rest-api-specs/components/parser/models.go
  tools/importer-rest-api-specs/components/parser/operations.go
  tools/importer-rest-api-specs/components/parser/parser.go
  tools/importer-rest-api-specs/components/parser/resourceids/parse_segments.go
  tools/importer-rest-api-specs/components/parser/swagger_resources.go
  tools/importer-rest-api-specs/components/parser/testdata/constants_multiple_type_enums.json
Labels: tool/importer-rest-api-specs
