Repository hashicorp/pandora, pull requests merged in 2024-01, with the labels that each got.

#3455 Docs: tidy up, consolidate, update and cross link docs
  README.md
  config/README.md
  config/resources/README.md
  docs/resource-manager-generate-new-resource.md
Labels: area/documentation, waiting-response

#3344 `tools/generator-go-sdk`: outputting the latest HTTP Response as a part of the `ListComplete` object
  tools/generator-go-sdk/generator/templater_methods.go
  tools/generator-go-sdk/generator/templater_methods_test.go
Labels: enhancement, tool/generator-go-sdk

#3031 importer-rest-api-specs: detecting Common IDs for Availability Set, Dedicated Host, Dedicated Host Group, Disk Encryption Sets and Managed Disk
  tools/importer-rest-api-specs/components/parser/resourceids/common_id_availability_set.go
  tools/importer-rest-api-specs/components/parser/resourceids/common_id_dedicated_host.go
  tools/importer-rest-api-specs/components/parser/resourceids/common_id_dedicated_host_group.go
  tools/importer-rest-api-specs/components/parser/resourceids/common_id_disk_encryption_set.go
  tools/importer-rest-api-specs/components/parser/resourceids/common_id_managed_disk.go
  tools/importer-rest-api-specs/components/parser/resourceids/common_ids.go
Labels: area/resource-ids

#3176 `tools/importer-rest-api-specs`: New Common IDs for Kusto Cluster and Kusto Database
  tools/importer-rest-api-specs/components/parser/resourceids/common_id_kusto_cluster.go
  tools/importer-rest-api-specs/components/parser/resourceids/common_id_kusto_database.go
  tools/importer-rest-api-specs/components/parser/resourceids/common_ids.go
Labels: area/resource-ids

#3605 `tools/generator-go-sdk`: `kusto` now uses the new base layer
  tools/generator-go-sdk/main.go
Labels: tool/generator-go-sdk, area/base-layer

#3607 `tools/generator-go-sdk`: `DataShare` now uses the new base layer
  tools/generator-go-sdk/main.go
Labels: tool/generator-go-sdk, area/base-layer

#3611 `tools/importer-rest-api-specs`: support for pulling the Display Name for an Integer Constant if defined
  tools/importer-rest-api-specs/components/parser/constants/interface.go
  tools/importer-rest-api-specs/components/parser/constants_test.go
  tools/importer-rest-api-specs/components/parser/testdata/constants_integers_with_names.json
  tools/importer-rest-api-specs/components/parser/testdata/constants_integers_with_names_inlined.json
Labels: tool/importer-rest-api-specs, area/data-canonicalisation

#3609 `tools/importer-rest-api-specs`: adding a data workaround for `Azure/azure-rest-api-specs#27351` / importing `BotService` @ `2022-09-15`
  config/resource-manager.hcl
  tools/importer-rest-api-specs/components/parser/dataworkarounds/workaround_botservice_27351.go
  tools/importer-rest-api-specs/components/parser/dataworkarounds/workarounds.go
  tools/importer-rest-api-specs/components/parser/resourceids/common_id_bot_service_channel.go
Labels: tool/importer-rest-api-specs, area/swagger-workarounds

#3636 tools/importer-rest-api-specs: extending the workaround for https://github.com/Azure/azure-rest-api-specs/pull/27351 to account for the constant being incorrectly defined
  tools/importer-rest-api-specs/components/parser/dataworkarounds/workaround_botservice_27351.go
Labels: tool/importer-rest-api-specs, data/swagger-issue, area/data-canonicalisation

#3640 `tools/generator-go-sdk`: fixing support for top-level discriminated lists in the new base layer
  tools/generator-go-sdk/generator/templater_methods.go
  tools/generator-go-sdk/generator/templater_methods_test.go
Labels: bug, tool/generator-go-sdk

#3642 `tools/data-api`: consolidating the `microsoft-graph` endpoints together
  tools/data-api/internal/endpoints/routing.go
  tools/data-api/internal/repositories/models.go
  tools/data-api/internal/repositories/services.go
  tools/data-api/internal/repositories/services_test.go
  tools/sdk/resourcemanager/client.go
Labels: tool/data-api

#3620 `tools/generator-go-sdk`: updating `LoadTestService` and `ManagedIdentity` to use the new base layer
  tools/generator-go-sdk/main.go
  tools/generator-terraform/generator/definitions/template_service_client.go
  tools/generator-terraform/generator/definitions/template_service_client_test.go
Labels: tool/generator-go-sdk, tool/generator-terraform, area/base-layer

#3633 `tools/importer-rest-api-specs`: removing the logic for outputting V1 of the API Definitions
  .github/workflows/automation-regenerate-terraform.yaml
  README.md
  tools/importer-rest-api-specs/cmd/import.go
  tools/importer-rest-api-specs/cmd/segments.go
  tools/importer-rest-api-specs/cmd/validate.go
  tools/importer-rest-api-specs/components/dataapigenerator/definition_service.go
  tools/importer-rest-api-specs/components/dataapigenerator/definition_version.go
  tools/importer-rest-api-specs/components/dataapigenerator/generate_api_versions.go
  tools/importer-rest-api-specs/components/dataapigenerator/generate_service.go
  tools/importer-rest-api-specs/components/dataapigenerator/generate_terraform.go
  tools/importer-rest-api-specs/components/dataapigenerator/helpers.go
  tools/importer-rest-api-specs/components/dataapigenerator/interface.go
  tools/importer-rest-api-specs/components/dataapigenerator/package.go
  tools/importer-rest-api-specs/components/dataapigenerator/revision_id.go
  tools/importer-rest-api-specs/components/dataapigenerator/service.go
  tools/importer-rest-api-specs/components/dataapigenerator/templater_api_version_definition.go
  tools/importer-rest-api-specs/components/dataapigenerator/templater_constants.go
  tools/importer-rest-api-specs/components/dataapigenerator/templater_model.go
  tools/importer-rest-api-specs/components/dataapigenerator/templater_operation.go
  tools/importer-rest-api-specs/components/dataapigenerator/templater_package_definition.go
  tools/importer-rest-api-specs/components/dataapigenerator/templater_resource_id.go
  tools/importer-rest-api-specs/components/dataapigenerator/templater_service_definition.go
  tools/importer-rest-api-specs/components/dataapigenerator/templater_swagger_revision.go
  tools/importer-rest-api-specs/components/dataapigenerator/templater_terraform_resource_definition.go
  tools/importer-rest-api-specs/components/dataapigenerator/templater_terraform_resource_mappings.go
  tools/importer-rest-api-specs/components/dataapigenerator/templater_terraform_resource_schema.go
  tools/importer-rest-api-specs/components/dataapigenerator/templater_terraform_resource_tests.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/generate_package.go
  tools/importer-rest-api-specs/components/dataapigeneratorjson/helpers.go
  tools/importer-rest-api-specs/components/discovery/data.go
  tools/importer-rest-api-specs/components/discovery/interface.go
  tools/importer-rest-api-specs/featureflags/constants.go
  tools/importer-rest-api-specs/main.go
  tools/importer-rest-api-specs/pipeline/interface.go
  tools/importer-rest-api-specs/pipeline/run_importer.go
  tools/importer-rest-api-specs/pipeline/run_validate_can_parse_data_test.go
  tools/importer-rest-api-specs/pipeline/task_generate_data_api_definitions.go
  tools/importer-rest-api-specs/pipeline/task_generate_data_api_definitions_v1.go
  tools/importer-rest-api-specs/pipeline/task_output_metadata.go
Labels: tool/importer-rest-api-specs

#3673 `keyvault`: `2023-07-01` uses the new base layer / removing unused API Versions
  config/resource-manager.hcl
  tools/generator-go-sdk/main.go
Labels: tool/generator-go-sdk, upstream/azure-api-issue, area/base-layer

#3691 `tools/generator-go-sdk`: skipping unmarshalling the response object for LROs
  tools/generator-go-sdk/generator/templater_methods.go
  tools/generator-go-sdk/generator/templater_methods_long_running_operations_test.go
  tools/generator-go-sdk/generator/templater_methods_test.go
Labels: bug, tool/generator-go-sdk

#3696 nit: adding the `copywrite` configuration
  .copywrite.hcl
Labels: priority/low

#3608 `tools/generator-go-sdk`: `ServiceFabricManagedCluster` now uses the new base layer
  tools/generator-go-sdk/main.go
Labels: tool/generator-go-sdk, area/base-layer

#3712 `tools/importer-rest-api-specs`: removing dead code
  tools/importer-rest-api-specs/components/transformer/api_to_models.go
Labels: tool/importer-rest-api-specs, refactor

#3713 `tools/importer-rest-api-specs`: support for importing `Resources/*/Tags`
  tools/importer-rest-api-specs/components/parser/internal/helpers.go
  tools/importer-rest-api-specs/components/parser/swagger_tags.go
Labels: tool/importer-rest-api-specs

#3720 `tools/importer-rest-api-specs`: supporting `AllOf` containing only a description
  tools/importer-rest-api-specs/components/parser/models.go
  tools/importer-rest-api-specs/components/parser/models_test.go
  tools/importer-rest-api-specs/components/parser/testdata/model_inheriting_from_other_model_with_only_description.json
Labels: bug, tool/importer-rest-api-specs, area/data-canonicalisation

#3736 `tools/importer-rest-api-specs`: fixing a regression where a Model inheriting from a Model and defining properties within `AllOf` would be unintentionally flattened into the Parent
  tools/importer-rest-api-specs/components/parser/models.go
  tools/importer-rest-api-specs/components/parser/models_test.go
  tools/importer-rest-api-specs/components/parser/testdata/model_inheriting_from_other_model_with_properties_within_allof.json
Labels: bug, tool/importer-rest-api-specs
